$color-primary: hwb(42 18% 7%);
$color-background: hsl(210, 10%, 20%);
$color-disabled: hsl(210, 10%, 50%);
$color-dark-opaque: hsl(0 0 0 / 10%);
$size-xs: 14px;
$size-sm: 16px;
$size-md: 20px;
$size-lg: 24px;
$size-xl: 30px;
$width: 500px;
