$color-primary: hsl(36, 50%, 55%);
$color-background: hsl(30, 50%, 10%);
$color-disabled: hsl(30, 30%, 40%);
$color-dark-opaque: hsla(30, 50%, 50%, 0.05);
$size-xs: 12px;
$size-sm: 14px;
$size-md: 18px;
$size-lg: 24px;
$width: 500px;
