@import "./variables";

.App {
  display: flex;
  flex-direction: column;
  max-width: $width;
  margin: auto;
  min-height: 100vh;
  font-size: $size-md;
  background-color: $color-background;
  color: $color-text;
}

.header {
  margin-bottom: auto;

  .name-form {
    padding: 1em;
  }

  .status-message {
    font-family: "Macondo";
    font-size: $size-lg;
    padding: 1em;
  }
}
