@import "./variables";

.App {
  display: flex;
  flex-direction: column;
  max-width: $width;
  margin: auto;
  min-height: 100vh;
  font-size: $size-md;
  background-color: $color-background;
  color: $color-primary;

  &::after {
    position: absolute;
    background-image: url("../public/film-grain.jpeg");
    opacity: 0.3;
    content: "";
    width: $width;
    height: 100vh;
    background-size: $width 100vh;
    pointer-events: none;
  }

  button,
  input,
  select,
  textarea {
    font-family: inherit;
    font-size: $size-sm;
  }

  .header {
    margin-bottom: auto;
    backdrop-filter: $blur;
    background-color: $color-dark-opaque;
    z-index: 1;

    .name-form {
      padding: 1em;
    }

    .status-message {
      font-size: $size-md;
      padding: 1em;
    }
  }
}
