@import "./variables";

.character-sheet {
  max-width: $width;
  padding: 1em;
  color: $color-dark;
  font-size: $size-sm;
  background: $gradient;

  .character-header {
    display: flex;
    justify-content: space-between;

    .hero-name {
      font-size: $size-xl;
      font-family: "Macondo";
    }

    .level-box {
      text-align: end;
    }
  }

  .health {
    display: flex;
    flex-direction: row;
    align-items: center;

    .health-count {
      margin-right: 0.5em;
    }

    .health-bar {
      flex-grow: 2;
      height: 1em;
      background-color: firebrick;

      .hp {
        height: 1em;
        background-color: forestgreen;
      }
    }
  }
}
