@import "./variables";

.character-sheet {
  max-width: $width;
  padding: 1em;
  color: $color-primary;
  font-size: $size-sm;
  // backdrop-filter: invert(80%);
  // backdrop-filter: sepia(80%);
  backdrop-filter: $blur;
  background-color: $color-dark-opaque;
  z-index: 1;

  .character-header {
    display: flex;
    justify-content: space-between;

    .hero-name {
      font-size: $size-xl;
      font-family: "Macondo";
    }

    .level-box {
      text-align: end;
    }
  }

  .health {
    display: flex;
    flex-direction: row;
    align-items: center;

    .health-count {
      margin-right: 0.5em;
    }

    .health-bar {
      flex-grow: 2;
      height: 1em;
      background-color: firebrick;

      .hp {
        height: 1em;
        background-color: forestgreen;
        transition: width 0.2s;
      }
    }
  }

  .character-body {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5em;

    .status {
      margin-left: auto;
      text-align: end;
    }
  }
}
