@import "./variables";

.hero-status {
  user-select: none;

  .effect {
    padding: 0.125em 0.5em;
    text-align: left;
    color: $color-background;
    background-color: $color-primary-opaque;

    &:nth-child(odd) {
      background-color: $color-primary;
    }
  }
}
