@import "./variables";

.merchant-inventory {
  font-size: $size-sm;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 15em;

  .item {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    border: 4px solid transparent;
    padding: 0.5em;

    &:nth-child(odd) {
      background-color: $color-dark-opaque;
    }

    &:not(.disabled):hover {
      border: 4px solid $color-primary;
      border-top: 4px solid $color-primary;
      cursor: pointer;
    }

    &.disabled {
      color: $color-disabled;
    }
  }
}
