@import "./variables";

@keyframes grow {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

.toast {
  text-align: center;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  animation: grow 0.5s;
  color: $color-background;
  background-color: $color-primary;
}
